@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
/* Color Variables */
:root {
    --kPrimaryColor: #0FC1A7;
    --kSecondaryColor: #f2f2f2;
    --kAppAmber: #FFC107;
    --kAppBlue: #0495CE;
    --kAppBlack: #333;
}

/* Global Styles */
body {
    font-family:  'Jost', 'Helvetica Neue', sans-serif;
    background-color: var(--kSecondaryColor);
    margin: 0;
    padding: 0;
    background-size: contain;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    background-color: var(--kPrimaryColor);
    color: #fff;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

h1 {
    font-size: 28px;
}

/* Form Styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--kAppBlack);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="file"] {
    margin-top: 5px;
}

button {
    background-color: var(--kPrimaryColor);
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
        }
       

button:hover {
    background-color: var(--kAppBlue);
}


.radio-group {
    display: flex; /* Make the radio buttons appear in the same line */
    justify-content: space-between; /* Add space between the radio buttons */
}

.radio-group label {
    flex: 1; /* Equal width for each label to distribute space evenly */
    margin-right: 10px; /* Add some spacing between labels */
}



/* Responsive Design */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}
