/* Import the Jost font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

/* Color Variables */
:root {
    --kPrimaryColor: #0FC1A7;
    --kSecondaryColor: #fff;
    --kAppAmber: #FFC107;
    --kAppBlue: #0495CE;
    --kAppBlack: #333;
}

/* Global Styles */
body {
    font-family: 'Jost', sans-serif; /* Use the Jost font family */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* max-width: 1200px; */
    background-color: var(--kSecondaryColor);
}

.side-panel {
    width: 18%;
    padding: 20px;
    background-color: var(--kPrimaryColor); /* Use the primary color */
    color: var(--kSecondaryColor);
    height: 100%;
}

.phone-number {
    margin-bottom: 20px;
}

.phone-number h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.phone-number p {
    font-size: 18px;
    margin: 5px 0;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.user-name{

    text-transform: capitalize;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}

.user-name:hover{
    color: var(--kAppAmber);
}


.main-content {
    flex: 1;
    position: relative;
    
}

.title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;

    color: var(--kPrimaryColor);
    border-bottom: var(--kAppAmber) solid 2px;
    padding:1rem 2rem ;
}

.pdf-container{

    display: flex;
    flex-direction: row;
    gap:20px;
    padding: 1.5rem;
  
}
.pdf{
    width: 10rem;
    max-height: 10rem;


}
.container-pdf{
    display: flex;
  width: 15rem;
    max-height: 13rem;
    padding-top: 20px ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   background-color: var(--kAppBlue);
   border-radius:25px ;
}

.date{
    padding: 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: var(--kSecondaryColor);

}
.pop-up{
position: absolute;
left: 20%;
display: block;

width: 49REM;
min-height: 30REM;
background-color: #0FC1A7;

}



/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .side-panel {
        width: 100%;
        padding: 0;
    }

    .pdf-container{

       
        flex-direction: column;

      
    }

}
